@font-face {
   font-family: 'Skarlet-Regular';
   font-display: swap;
   src: url('file:///C:/Users/DNS/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-12-26_234531/fonts/Skarlet-Regular/font.ttf');
}
